<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lingyi.service.user.mapper.UserRoleMapper">

    <select id="selectRoleIdsByUserId" resultType="java.lang.Long">
        SELECT role_id
        FROM ly_user_role
        WHERE user_id = #{userId}
          AND is_deleted = 0
        ORDER BY created_at ASC
    </select>
</mapper>
